nav {
    width: 100%;
    /* border-radius: 0px 0px 100px 0px; */
    background: #5964E0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 15px;
}

@media (min-width: 768px) {
    .navbar {
        padding: 40px 140px;
    }
}